<div class="row">
  <div class="col-12">
    <div class="card shadow-sm rounded">
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Created At</th>
              <th>Last Active At</th>
              <th>Messages Count</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @conversations.each do |conversation| %>
                <tr>
                  <td><%= conversation.id %></td>
                  <td><%= conversation.created_at %></td>
                  <td><%= conversation.last_activity_at %></td>
                  <td><%= conversation.messages.count %></td>
                  <td>
                    <%= link_to admin_vetfort_extension_v5_ai_conversation_path(conversation) do %>
                      <%= icon('eye') %>
                    <% end %>
                  </td>
                </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>