<div
    class="vetfort--ai-consultant__dialog hidden"
    data-ai-chat-target="dialog"
  >
  <%= turbo_frame_tag "vetfort-ai-chat",
    class: "w-[28rem] md:w-[40rem]",
    data: {
      action: "turbo:frame-load->ai-chat#scrollToBottom"
    } do %>

    <%= turbo_stream_from turbo_stream_identifier %>
    <div class="vetfort--ai-consultant__dialog-content">
      <%= render VetfortExtensionV5::AiConsultant::MessagesHistoryComponent.new(messages_target_id:) %>
      <%= render VetfortExtensionV5::AiConsultant::ChatFormComponent.new %>

      <!-- Templates for client-side message rendering using the same partials -->
      <template id="ai-chat-message-user">
        <%= render 'spree/ai_consultant/customer_message', text: '', time: '' %>
      </template>
    </div>
  <% end %>
</div>
