<div
  data-dial-init
  class="fixed end-6 bottom-6 group flex flex-col items-end z-[100]"
  data-controller="ai-chat"
>
    <div id="chat-bot-dialog" class="flex flex-col items-center hidden mb-4 space-y-2 shadow-md">
      <%= turbo_frame_tag "vetfort-ai-chat", data: { action: "turbo:frame-load->ai-chat#scrollToBottom" } do %>
         <div class="w-[28rem] md:w-[40rem]">
          <div class="bg-purple-50 shadow rounded-lg overflow-hidden flex flex-col h-[80vh]  min-h-0">
            <div class="p-3 h-[100%] overflow-y-auto space-y-3" data-ai-chat-target="messages" role="log" aria-live="polite" aria-relevant="additions">
              <%= render 'spree/ai_consultant/customer_message' %>
              <%= render 'spree/ai_consultant/bot_message' %>

              <%= render 'spree/ai_consultant/customer_message' %>
              <%= render 'spree/ai_consultant/bot_message' %>

              <%= render 'spree/ai_consultant/customer_message' %>
              <%= render 'spree/ai_consultant/bot_message' %>

              <%= render 'spree/ai_consultant/customer_message' %>
              <%= render 'spree/ai_consultant/bot_message' %>
            </div>

            <%= render 'spree/ai_consultant/chat_form' %>
          </div>
        </div>
      <% end %>
    </div>
    <%= render 'spree/ai_consultant/bot_button' %>
</div>
